var postMessageHandler = function(msg) {
  var content = JSON.parse(msg.data);
  var div = document.createElement('div');
  div.innerHTML = content.html;
  document.documentElement.appendChild(div);
};

window.addEventListener('message', postMessageHandler, false);
