<html>
  <head>
  </head>
  <body>
    <iframe src="data:text/html,<script>var xhr = new XMLHttpRequest();
      xhr.open('POST', '$BASEURL$/cors/alloworigin/dynamicAllowOrigin', false); xhr.send();</script>">
    </iframe>
  </body>
</html>