<html ng-app>
  <body>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/%%VERSION%%/angular.js"></script>
    <form action="" method="post">
      <input type="text" name="q">
      <input type="submit">
    </form>
    <div>
      %%PAYLOAD%%
    </div>
  </body>
</html>
