<html>
  <body>
    <p>
      Previous submit: %%PAYLOAD%%
    </p>
    
    <form method="POST">
      <input type="text" name="q">
      <input type="submit" formtarget="_blank">
    </form>
  </body>
</html>