<html>
  <body>
    <script>eval('%%PAYLOAD%%'.replace(/</g, '&lt;')
                              .replace(/&/g, '&amp;')
                              .replace(/>/g, '&gt;'));
    </script>
  </body>
</html>
