// Trigger XSS by waiting for typing events / watch for change on an input field.

var input = document.createElement('input');
input.setAttribute('type', 'text');

var payload = '';
function xssIt(e) {
  payload = e.target.value;
  deferredPayload();
}

input.addEventListener('keyup', xssIt);
input.addEventListener('change', xssIt);

document.body.appendChild(input);