var formElement = document.createElement("form");
formElement.action = payload;
var inputElement = document.createElement("input");
inputElement.type = "submit";
inputElement.value = "Submit!";
formElement.appendChild(inputElement);
document.body.appendChild(formElement);
