<!DOCTYPE html>
<title>Leaking httpOnly cookie from the Set-Cookie header in a resource</title>
<script src="leakedcookie.js"></script>
Imported javascript file leaks an httpOnly cookie set by this page.